{# **************** #}
{# ***** Home ***** #}
{# **************** #}

{% extends "/Layout/layout.html.twig" %}

{% block titre %}Les Argonautes{% endblock %}
{% block description %}Site test WCS{% endblock %}

{% block main %}

    <main>

        <!-- New member form -->
        <h2>Ajouter un(e) Argonaute</h2>
        <form class="new-member-form">
            <label for="name">Nom de l'Argonaute</label>
            <input id="name" name="name" type="text" placeholder="Charalampos" />
            <button type="submit">Envoyer</button>
        </form>

        <!-- Member list -->
        <h2>Membres de l'équipage</h2>
        <section class="member-list">
            <div class="member-item">Eleftheria</div>
            <div class="member-item">Gennadios</div>
            <div class="member-item">Lysimachos</div>
        </section>
    </main>

{% endblock %}

{% block script %}
{% endblock %}
