{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Error {{ status_code }} {% endblock %}

{% block customcss %}<link href="/css/errors.css" rel="stylesheet">{% endblock %}

{% block main %}

    <h1 class="mt-md-15 mb-5 mt-5">Page not found</h1>

    <section class="container mt-5 mb-5">
        <h1>Not Found</h1>
        <section class="error-container">
            <span>5</span>
            <span><span class="screen-reader-text">0</span></span>
            <span>0</span>
        </section>

        <div class="d-flex justify-content-center bd-highlight mb-3">
            <a class="btn btn-success" href="{{ path('app_home') }}">Retourner home</a>
        </div>
    </section>

{% endblock %}