{# **************** #}
{# **** Layout **** #}
{# **************** #}

<!doctype html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{%  block description %}{% endblock %}">
    <meta name="author" content="Damien Valade">

    <title>{% block titre %}{% endblock %} - Test WCS</title>

    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    {% block link %}{% endblock %}

</head>

<body>

{% include "/Layout/header.html.twig" %}


<main>
{% block main %}{% endblock %}
</main>

{% include "/Layout/footer.html.twig" %}


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% block script %}{% endblock %}

</body>
</html>
